<!DOCTYPE html>
<html{{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}{{ if eq .IsHome false }} | {{ .Site.Title }}{{ end }}</title>

    <!-- Metadata for the Aerobatic scanner to index -->
    {{ if .Params.description }}<meta name="description" content="{{ .Params.description }}" />{{ end }}
    {{ if .Params.author }}<meta name="author" content="{{ .Params.author }}" />{{ end }}
    {{ if .Params.year }}<meta name="year" content="{{ .Params.year }}" />{{ end }}

    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/styles.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>
